// File: _reset.scss
// This file contains reset config.
/* STYLES GO HERE */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: 'Lato Regular', Helvetica, Arial, sans-serif;
}
